<div class="note">
    <div class="note-header" ng-controller='MainCtrl'>
      <div class="note-time">
        {{ today | date: "medium"}}
      </div>
      <div></div><svg class="closeIcon" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
      </svg>
    </div>
  </div>
  <div class="note-content">
    <textarea class="textarea" ng-model="newContent.message" name="w3review" rows="4" cols="50"
      style=" width: 99%; height: 450px; position:relative; overflow: scroll; resize: none;">
      
          </textarea>
  </div>
  <span style="display: inline-flex;justify-content: space-around;width:90% ;">
    <a href="#/noteTemp" style="text-decoration: underline;color: #000;font-size: large;">back</a>
    <button ng-click="add()" style="border: none;background-color: transparent;color:black;left: 70%;text-decoration: underline;font-size: large;cursor: pointer;font-family: 'Montserrat', sans-serif;">save</button>
  </span>
  </div>
  <style>
    .addButton {
      display: none;
    }
  
    .closeIcon {
      display: none;
    }
    
    
  </style>